<header>
    <video poster="/img/workaholic/workaholic.jpg" width="100%" height= preload="auto" muted autoplay loop><source src="/img/workaholic/workaholic.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;"><source src="/img/workaholic/workaholic.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;"><source src="/img/workaholic/workaholic.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;"></video>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Fast, Secure, & Affordable Data Entry</h1>
            <hr>
            <a href="#contact" class="btn btn-primary btn-xl">Find Out More</a>
        </div>
    </div>
</header>
